/* ajax__tab_xp-theme theme */
.linkedin .ajax__tab_header 
{
	font-size:11px;
	font-weight:bold;
    font-family:arial, sans-serif;
}
.linkedin .ajax__tab_active .ajax__tab_outer,
.linkedin .ajax__tab_header .ajax__tab_outer,
.linkedin .ajax__tab_hover .ajax__tab_outer
{
    margin-right:4px;
}
.linkedin .ajax__tab_active .ajax__tab_inner,
.linkedin .ajax__tab_header .ajax__tab_inner,
.linkedin .ajax__tab_hover .ajax__tab_inner
{
    margin-left:3px; /* offset the width of the left image */
}
.linkedin .ajax__tab_active .ajax__tab_tab,
.linkedin .ajax__tab_hover .ajax__tab_tab,
.linkedin .ajax__tab_header .ajax__tab_tab
{
	margin-right:0px;	
	padding:8px 23px 8px 20px;
}
.linkedin .ajax__tab_body 
{
    font-family:verdana,tahoma,helvetica;
    font-size:10pt;
}